<!--Side Navigation Menu-->
<nav class="sidenav" [ngClass]="{ 'expanded': isExpanded }">
  <!--Optional Toggle Button for Sidebar only if there is no appbar-->
  <button class="toggler border-none focus-none icon-light" *ngIf="!appbar" (click)="handleSidebarToggle()"
    [ngClass]="{ 'normal-toggle': isExpanded }">
    <span class="toggler-icon"></span>
  </button>

  <ul class="navlist">
    <li class="nav-item"> <!--Nav Item-->
      <a class="nav-link" [routerLink]="['/home']" (click)="handleSidebarToggle()" [routerLinkActive]="'active'">
        <!--Button-->
        <h3><i class="bi bi-house-fill"></i></h3> <!--Icon-->
        <h6 class="label">Home</h6> <!--Title-->
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['/colorgenerator']" (click)="handleSidebarToggle()"
        [routerLinkActive]="'active'">
        <h3><i class="bi bi-palette-fill"></i></h3>
        <h6 class="label">Color Generator</h6>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/boxshadowgenerator']" (click)="handleSidebarToggle()"
        [routerLinkActive]="'active'">
        <h3><i class="bi bi-box-fill"></i></h3>
        <h6 class="label">Box Shadow Generator</h6>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/usefulelinks']" (click)="handleSidebarToggle()"
        [routerLinkActive]="'active'">
        <h3><i class="bi bi-link"></i></h3>
        <h6 class="label">Useful Links</h6>
      </a>
    </li>
    <hr class="w-75"> -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/passwordgenerator']" (click)="handleSidebarToggle()"
        [routerLinkActive]="'active'">
        <h3><i class="bi bi-lock-fill"></i></h3>
        <h6 class="label">Password Generator</h6>
      </a>
    </li>
  </ul>
</nav>